In [1]:
# Dependencies
import pandas as pd
import os

In [2]:
# define the path to each file
students_file = os.path.join('Resources','students_complete.csv')
schools_file = os.path.join('Resources','schools_complete.csv')

In [3]:
# load each file into pandas DataFrames
students_df = pd.read_csv(students_file)
schools_df = pd.read_csv(schools_file)

In [4]:
# merge the two DataFrames
complete_df = pd.merge(students_df, schools_df,how = "left", on=["school_name", "school_name"])

In [5]:
#Part 1: District Summary

In [6]:
# calculate the number of unique school names in the DataFrame
total_schools = len(complete_df['school_name'].unique())

In [7]:
# calculate the total number of students in the DataFrame
total_students = complete_df["student_name"].count()

In [8]:
# calculate the total budget for all schools in the district
total_budget = (complete_df["budget"].unique()).sum()

In [9]:
# calculate the average math score
avg_math_score = complete_df["math_score"].mean()

In [10]:
# calculate the average reading score
avg_reading_score = complete_df["reading_score"].mean()

In [11]:
# identify all the students passing math, with a grade of 70 or higher
passing_math = complete_df['math_score'] >= 70

In [12]:
# convert the boolean series to type float and add it to the DataFrame
# multiply times 100 for easy of conversion to percent in the next step
complete_df['passing math'] = passing_math.astype('float')*100

In [13]:
# calculate the percentage of students passing math
percent_passing_math = complete_df['passing math'].sum()/total_students

In [14]:
# identify all the students passing reading, with a grade of 70 or higher
passing_reading = complete_df['reading_score'] >= 70

In [15]:
# convert the boolean series to type float and add it to the DataFrame
# multiply times 100 for easy of conversion to percent in the next step
complete_df['passing reading'] = passing_reading.astype('float')*100

In [16]:
# calculate the percentage of students passing reading
percent_passing_reading = complete_df['passing reading'].sum()/total_students

In [17]:
# calculate the percentage of students passing both math and reading
passing_math_and_reading = passing_math & passing_reading
complete_df['passing math and reading'] = passing_math_and_reading.astype('float')*100
percent_overall_passing = complete_df['passing math and reading'].sum()/total_students

In [18]:
# create an overview table summarizing key metrics for the entire district
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                           "Total Students": [total_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math_score],
                           "Average Reading Score": [avg_reading_score],
                            "% Passing Math":[percent_passing_math],
                            "% Passing Reading":[percent_passing_reading],
                            "% Overall Passing":[percent_overall_passing]
                          })

In [19]:
# format total students and total budget and print table
district_summary['Total Students']=district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget']=district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [20]:
# Part 2: School Summary

In [21]:
# calculate the budget per student
budget_per_student = complete_df['budget']/complete_df['size']
complete_df['Per Student Budget'] = budget_per_student

In [22]:
# rename columns in complete DataFrame
renamed_complete_df = complete_df.rename(columns={'school_name': 'School Name',
                                    'size':'Total Students','budget':'Total School Budget',
                                    'type':'School Type', 'math_score':'Average Math Score',
                                    'reading_score':'Average Reading Score',
                                    'passing math':'% Passing Math',
                                    'passing reading':'% Passing Reading',
                                    'passing math and reading':'% Overall Passing'})

In [23]:
# extract columns into a new summary table
school_summary = renamed_complete_df.loc[:,['School Name','School Type','Total Students',
                                            'Total School Budget',
                                            'Per Student Budget','Average Math Score',
                                            'Average Reading Score','% Passing Math',
                                            '% Passing Reading','% Overall Passing']]

In [24]:
# group the school summary table by school name
school_summary = school_summary.groupby(['School Name','School Type'])
school_summary = school_summary.mean()

In [25]:
# make a copy of the school summary table
school_summary_formatted = school_summary.copy()

In [26]:
# format Total School Budget and Per Student Budget and print the copied table
school_summary_formatted['Total School Budget']=school_summary_formatted['Total School Budget'].map('${:,.2f}'.format)
school_summary_formatted['Per Student Budget']=school_summary_formatted['Per Student Budget'].map('${:,.2f}'.format)
school_summary_formatted

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Bailey High School,District,4976.0,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [27]:
# Part 3: Top Performing Schools (By % Overall Passing)

In [28]:
# sort the formatted school summary in descending order and highlight the top five schools
school_summary_formatted.sort_values(['% Overall Passing'], ascending=False).head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962.0,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [29]:
# Part 4: Bottom Performing Schools (By % Overall Passing)

In [30]:
# sort the formatted school summary in ascending order and highlight the top five rows
school_summary_formatted.sort_values(['% Overall Passing']).head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,School Type,,,,,,,,
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [31]:
# Part 5: Math Scores by Grade

In [32]:
# create a new DataFrame for grade 9th grouped by school
math_grade_9 = complete_df.loc[complete_df['grade']=='9th',['school_name','math_score']]
math_grade_9.columns = ['School Name','9th']
math_grade_9 = math_grade_9.groupby(['School Name']).mean()

In [33]:
# create a new DataFrame for grade 10th grouped by school
math_grade_10 = complete_df.loc[complete_df['grade']=='10th',['school_name','math_score']]
math_grade_10.columns = ['School Name','10th']
math_grade_10 = math_grade_10.groupby(['School Name']).mean()

In [34]:
# create a new DataFrame for grade 11th grouped by school
math_grade_11 = complete_df.loc[complete_df['grade']=='11th',['school_name','math_score']]
math_grade_11.columns = ['School Name','11th']
math_grade_11 = math_grade_11.groupby(['School Name']).mean()

In [35]:
# create a new DataFrame for grade 12th grouped by school
math_grade_12 = complete_df.loc[complete_df['grade']=='12th',['school_name','math_score']]
math_grade_12.columns = ['School Name','12th']
math_grade_12 = math_grade_12.groupby(['School Name']).mean()

In [36]:
# concatenate the DataFrames for all grades into one table
math_scores_by_grade = pd.concat([math_grade_9,math_grade_10,
                                  math_grade_11,math_grade_12], axis = 1)
math_scores_by_grade

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [37]:
# Part 6: Reading Scores by Grade

In [38]:
# create a new DataFrame for grade 9th grouped by school
reading_grade_9 = complete_df.loc[complete_df['grade']=='9th',['school_name','reading_score']]
reading_grade_9.columns = ['School Name','9th']
reading_grade_9 = reading_grade_9.groupby(['School Name']).mean()

In [39]:
# create a new DataFrame for grade 10th grouped by school
reading_grade_10 = complete_df.loc[complete_df['grade']=='10th',['school_name','reading_score']]
reading_grade_10.columns = ['School Name','10th']
reading_grade_10 = reading_grade_10.groupby(['School Name']).mean()

In [40]:
# create a new DataFrame for grade 11th grouped by school
reading_grade_11 = complete_df.loc[complete_df['grade']=='11th',['school_name','reading_score']]
reading_grade_11.columns = ['School Name','11th']
reading_grade_11 = reading_grade_11.groupby(['School Name']).mean()

In [41]:
# create a new DataFrame for grade 12th grouped by school
reading_grade_12 = complete_df.loc[complete_df['grade']=='12th',['school_name','reading_score']]
reading_grade_12.columns = ['School Name','12th']
reading_grade_12 = reading_grade_12.groupby(['School Name']).mean()

In [42]:
# concatenate the DataFrames for all grades into one table
reading_scores_by_grade = pd.concat([reading_grade_9,reading_grade_10,reading_grade_11,
                                     reading_grade_12], axis = 1)
reading_scores_by_grade

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [43]:
# Part 7: Scores by School Spending

In [44]:
# create cut-offs to classify the school summary table by budget per student
bins_spending = [0,584,629,644,675]
spending_groups = ['<$584','585-629','630-644','645-675']

In [45]:
# break down school summary into four categories by budget per student
school_summary['Spending Rates (Per Student)'] = pd.cut(school_summary['Per Student Budget'],
                                                    bins_spending, labels = spending_groups)

In [46]:
# select columns to include in the table of scores by budget per student
scores_by_school_spending = school_summary.iloc[:,3:]

In [47]:
# group the table by school spending per student, calculate averages, and apply formatting
scores_by_school_spending = scores_by_school_spending.groupby(['Spending Rates (Per Student)'])
scores_by_school_spending = scores_by_school_spending.mean()
scores_by_school_spending.round(2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Rates (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
585-629,81.90,83.16,87.13,92.72,81.42
630-644,78.52,81.62,73.48,84.39,62.86
645-675,77.00,81.03,66.16,81.13,53.53

In [48]:
# Part 8: Scores by School Size

In [49]:
# created new bins to classify school performance by school size
bins_size = [0,1000,2000,5000]
size_groups = ['Small(<1000)','Medium(1000-2000)','Large(2000-5000)']

In [50]:
# break down school summary into three categories by size
school_summary['School Size'] = pd.cut(school_summary['Total Students'],
                                                    bins_size, labels = size_groups)

In [51]:
# select columns to include in the table of scores by school size
scores_by_school_size = school_summary.iloc[:,3:]

In [52]:
# group the table by size categories, calculate averages, and apply formatting
scores_by_school_size = scores_by_school_size.groupby(['School Size'])
scores_by_school_size = scores_by_school_size.mean()
scores_by_school_size.round(2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.82,83.93,93.55,96.10,89.88
Medium(1000-2000),83.37,83.86,93.60,96.79,90.62
Large(2000-5000),77.75,81.34,69.96,82.77,58.29

In [53]:
# Part 9: Scores by School Type

In [54]:
# select the columns to display in the groupby school type table
scores_by_school_type = renamed_complete_df.loc[:,['School Type','Average Math Score',
                                                   'Average Reading Score','% Passing Math',
                                                   '% Passing Reading','% Overall Passing']]

In [55]:
# group the table by school type and apply formatting
scores_by_school_type = scores_by_school_type.groupby(['School Type'])
scores_by_school_type = scores_by_school_type.mean()
scores_by_school_type.round(2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70,96.65,90.56
District,76.99,80.96,66.52,80.91,53.70

In [56]:
# Part 10: Observable Trends

In [57]:
# 1) Higher spending per student does not show a positive correlation with school performance.
# In fact, the highest average scores for both math and reading and highest percent overall
# passing come from schools with spending rates below $584 per student.

In [58]:
# 2) School size seems to have a positive impact in overall school performance;
# with small and medium size schools (<2000 students) perfoming better than large schools.
# It would be interesting to see what the class size and teacher/student ratio are in these
# schools to tease out more insights into the importance of size in school performance.

In [59]:
# 3) Charter schools are generally smaller than District schools and show better perfomance.
# Charter schools also generally spend less per student than District schools, yet they show
# a significantly higher percent overall passing, 90% versus 54%, respectively.