In [1]:
# Dependencies
import pandas as pd
import os

In [2]:
# Files to load
students_data = os.path.join('Resources','students_complete.csv')
schools_data = os.path.join('Resources','schools_complete.csv')

In [3]:
# Read students and schools data and store in pandas DataFrames
students_df = pd.read_csv(students_data)
schools_df = pd.read_csv(schools_data)

In [4]:
# Combine the data from both files into a single dataset
schools_data_complete = pd.merge(students_df, schools_df, how = "left", on=["school_name", "school_name"])
schools_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
total_schools = len(schools_data_complete["school_name"].unique())
total_schools

15

In [6]:
total_students = len(schools_data_complete["student_name"].unique())
total_students

32715

In [9]:
total_budget = (schools_data_complete["budget"].unique()).sum()
total_budget

24649428

In [10]:
avg_math_score = schools_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [11]:
avg_reading_score = schools_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [17]:
school_summary = pd.DataFrame({"Total Schools": [total_schools],
                           "Total Students": [total_students],
                           "Total Budget": [total_budget],
                           "Average Math Scores": [avg_math_score],
                           "Average Reading Scores": [avg_reading_score]
                          })
school_summary

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores
0,15,32715,24649428,78.985371,81.87784